<div class="user-page">
  <h1>Profile</h1>
  <table>
    <tr>
      <td><%= gravatar_for @user%></td>
      <td class = 'user-info'>
        <p><%= @user.name %></p>
        <p><span><%= @user.email %></span></p>
      </td>
    </tr>
  </table>
  <h3>User posts:</h3>
      <% @user_posts.each do |post| %>
          <div class="user-post">
            <h4><%= post.title %></h4>
            <p><%= post.body %></p>
            <p class="tags">Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
            <div class="actions">
              <%= link_to 'Show', post, class: "btn btn-info" %>
                <% if check_user_permission %>
                    <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
                    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
            </div>
          </div>
      <% end %>

      <% @user_favorites.each do |favorite| %>
        <div>
          <%= favorite.title %>
        </div>
      <% end %>
</div>