<div class="post">
    <p id="notice"><%= notice %></p>

    <h2 class="title"><%= @post.title %></h2>

    <p class="body"><%= @post.body %></p>


    <div class="post-info"><div><%= @post.created_at %></div>Author: <%= link_to @post.user.name, @post.user %></div>

    <p class="tags">Tags: <%= @post.tags %></p>
    <div class="actions">
        <%= link_to 'Back', :back, class: 'btn btn-default' %>
        <% if current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning'%>
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

        <% end %>
    </div>
</div>